


.header-box1
{
    height:130px;
    background-color: rgb(249, 249, 249);
    display:grid;
    grid-template-columns: 200px 2fr 360px;
    color:black;
    font-family :Speedee, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
       line-height:24px;

    color: #292929;
    letter-spacing: -.15px;
   
}
p{
    margin:0;
    display: inline-block;
}
.icon
{
  margin-left: 156px;
 
}
.buttons
{
padding-top: 15px;

}
.yellow-button
{
padding-left: 30px;
padding-right:30px;
padding-top:15px;
padding-bottom:15px;
background-color: rgb(255, 188, 13);
border:0px;
border-radius:8px ;


}
.header-box2
{
height:118.8px;

padding-top: 15px;
margin-left: 174.6px ;
padding-right: 174.6px;
}
.header-box2-logo
{
    
    float:left;
}
.header-grid
{
      
   
    height:118.8px;
    
    margin-right: 174.6x;
    display:grid;
    grid-template-columns:1fr 1fr; 
    font-family: Speedee, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif; 
    row-gap: 10px;
    margin-left: 40px;
   
}
.header-box2-line1
{
    background-color: white;
    font-family: Speedee, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    font-size :14px;
    display:flex;
    flex-direction: row;
    flex:1;
    height:25px;
    vertical-align: top;
    column-gap: 30px;

}
.header-box2-line1-language
{
    padding-left: 20px;
   
}

.header-box2-line2
{
    background-color: white;
    padding-left: 80px;
    display:flex;
    flex-direction: row;
    flex:1;
    height:25px;
    vertical-align: top;
    column-gap: 30px;
    font-size: 14px;
}

.header-box2-line3
{
   padding-left: 20px;
    height:25px;
    display:flex;
    flex-direction: row;
    column-gap: 22px;

}
.header-box2-line4
{
    
    padding-left: 5px;
    height:25px;
    display:flex;
    flex-direction: row;
    column-gap: 22px;
}


.content-body
{
    height:4290px;
    background-color: white;
   
}
.content{
margin-left: 174.6px;
margin-right: 174.6px;

}
.grid-content
{
    display:grid;
    width:1170px;
    row-gap: 75px;
    

}
.content1
{
  display:flex;
  flex-direction: row;
  flex:1; 
  padding-bottom: 50px;
 
}
.content2
{
  display:flex;
  flex-direction: row;
  flex:1; 
  padding-bottom: 50px;
 
}
.content3
{
  display:flex;
  flex-direction: row;
  flex:1; 
  padding-bottom: 50px;
 
}
.content4
{
  display:flex;
  flex-direction: row;
  flex:1; 
  padding-bottom: 50px;
 
}
.content5
{
  display:flex;
  flex-direction: row;
  flex:1; 
  padding-bottom: 50px;
 
}
.content6
{
  display:flex;
  flex-direction: row;
  flex:1; 
  padding-bottom: 50px;
 
}
.content7
{
  display:flex;
  flex-direction: row;
  flex:1; 
  padding-bottom: 50px;
 
}
.content8
{
  display:flex;
  flex-direction: row;
  flex:1; 
  padding-bottom: 50px;
 
}
.image-box
{
    
    height:363.650px;
     
}
.text-box
{
width:370px;
padding-left: 15px;
padding-right: 15px;
} 
.content-heading
{
    font-family: Speedee, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
font-size :36px;
font-weight: 700;

letter-spacing: -0.15px;
line-height: 40px;
margin-top :15px;
margin-top: 15px;
margin-bottom: 18px;
}
.content-text
{
    font-family :Speedee, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
font-size: 16px;
height :91.400px;
letter-spacing: -0.15px;
line-height: 24px;
margin-bottom: 18px;
}
.content-description
{
  display: block;
margin-bottom: 18px;
height:61.25px;
font-family: Speedee, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
font-size :10px;
height: 43.5px;
letter-spacing :-0.15px;
line-height: 14.5px;
padding-bottom: 15px;
}
.end-section-space
{
    padding-left: 200px;
}
.end-section-grid
{
    height:365.25px;
   display:grid;
   grid-template-columns: 150px 150px 188px 150px;
   column-gap: 200px;;
   width:1130px;
   
   font-size:16px;

letter-spacing :-0.15px;
line-height :22px;
font-family: Speedee, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
padding-bottom: 25px;
   
}
.end-section1
{
display:flex;
flex-direction: column;
flex:1;
justify-content:start;
line-height: 26px;



}
.end-section2
{
  display:flex;
flex-direction: column;
flex:1;
justify-content:start;
line-height: 26px;
}
.end-section3
{
  display:flex;
flex-direction: column;
flex:1;
justify-content:start;
line-height: 26px;
}
.end-section4
{
 display:flex;
flex-direction: column;
flex:1;
justify-content:start ;
line-height: 26px;

}
.endsection-seperator
{
  width:1194px;
  margin-right:200px;
  list-style: grey;
  
}
.footer-left-grid
{
  height:89px;
  display:flex;
}
.footer-left{
  display:flex;
  padding-bottom:3;
  margin-bottom: 5cm;
padding-left: 3cm;
margin-left: 37px;
   flex-direction:column; 
  /* flex:1; */
  justify-content: space-between;
  width:80%;
  column-gap: 10px;
 color: rgb(41, 41, 41);
cursor: pointer;

font-family :Speedee, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
font-size :16px;

letter-spacing: -0.15px;
line-height: 24px;
}
.footer-left-row1
{
  display: flex;
  flex-direction:row; 
 justify-content: space-evenly ;

}

.footer-left-row2
{
  display: flex;
  flex-direction:row; 
  justify-content: space-between;
  width:62%;
  margin-left: 47px;
  
}
.footer-left6
{
  padding-right: 291px;
}
.footer-left-rights
{
  width: 274px;
}
.text-dark
{
  font-weight: bold;
  padding-bottom: 16px;
  vertical-align: top;
}
.text-links
{
  color: #006bae;
  text-decoration: underline;
  cursor: pointer;
}



